.parent {
  @apply group
    px-6
    py-5
    max-w-full
    mx-auto
    w-72
    border
    border-indigo-500
    border-opacity-25
    cursor-pointer
    rounded-lg
    select-none
    overflow-hidden
    space-y-1
    hover:bg-white
    hover:shadow-lg
    hover:border-transparent;

  & > p:first-child {
    @apply font-semibold
      text-lg
      text-indigo-600
      group-hover:text-gray-900;
  }

  & > p:last-child {
    @apply text-indigo-500
      group-hover:text-gray-500;
  }
}
